# Amplify
numpy
pandas
scikit-learn
tensorflow>=2.7
tensorboard
matplotlib
pysolar
dash
dash-bootstrap-components
python-dotenv
gunicorn

# Metrics and Data
clearml
boto3

# installs amplify in editable mode, comment this out if you use `python setup.py install`
-e .
